.storage-hero-section {
  background-image: url("../images/fertilizer2.jpeg");
  padding: 120px 0px 80px 0px;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.9);
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 400px;
}

.storage-hero-wrapper h1 {
  color: var(--primary);
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  font-size: var(--fs-900);
  width: 70%;
}

.storage-content {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.storage-content > i {
  font-size: 30px;
}

.storage-content > p {
  font-size: var(--fs-300);
  margin: 0px 0 10px 0;
  text-align: center;
  color: #ffffff;
}

.storage-breadcrumbs-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.2);
}

.storage-hero-section ol {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 15px 10px;
}

ol > li a {
  color: var(--primary);
}

ol > li a:hover {
  opacity: 0.7;
  color: var(--primary);
}

ol > li + li::before {
  content: "/";
  padding-right: 10px;
}

ol > li + li {
  padding-left: 10px;
  color: #fff;
}

.fertilizer-main-section {
  background-color: var(--background);
  padding: 80px 0;
}

.fertilizer-main-section .text-width {
  width: 80%;
}

.fertilizer-icon-wrapper {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: #ffffff;
  border: 2px solid var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fertilizer-icon-wrapper > img {
  width: 35px;
  height: 35px;
}

.card {
  min-height: 230px;
}

.dangote-fertilizer {
  min-height: 500px;
  background-image: url("../images/fertilizer3.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

/* Mobile Layout  */
@media screen and (max-width: 767.98px) {
  .storage-hero-wrapper h1 {
    font-size: var(--fs-600);
    width: 90%;
  }

  .storage-hero-wrapper p {
    font-size: var(--fs-200);
  }

  .container h2.subtitle {
    font-size: var(--fs-600);
  }

  .fertilizer-main-section .text-width {
    width: 100%;
  }

  .gap {
    gap: 20px;
  }
}
